// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

//colors

$gray: #333;

$gray-ligth: #999;
$gray-ligth-datk: #666;
html,
body {
  margin: 0px;
  font-family: "Nunito";
}

.collapse {
  display: none;
  &.active {
    display: block;
  }
}
h1,
h2,
h3 {
  margin-top: 0rem;
}

input, textarea{
width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  border: 1px solid #999;
  outline: none;
  margin-bottom:0.5rem;
  &:focus{
    border: 1px solid rgb(45, 89, 211);
  }
}

button{
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  border: 1px solid #999;
  outline: none;

  &.primary{
    background: #333;
    color: white;
  }
}

.float-right{
  float: right;
}


.container {
  display: flex;
  flex: 1;
  padding: 1rem;
  flex-wrap: wrap;

  &.profile-container {
    @media only screen and (max-width: 1024px) {
      padding: 0rem;
    }
  }
}
.justify-center {
  justify-content: center;
}

.profiles {
  list-style-type: none;
  margin: 0px;
  padding: 0rem;
  width: 100%;

  @media only screen and (max-width: 1024px) {
    border: 1px solid $gray;
  }

  @media only screen and (min-width: 1024px) {
    width: 25%;
    max-width: 25%;
    border-right: 1px solid $gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  li {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $gray-ligth-datk;
    border-left: 1px solid $gray-ligth-datk;

    @media only screen and (max-width: 1024px) {
      border-radius: 0px !important;
      border-left: none;
      &.active {
        border-right: 1px solid $gray-ligth-datk !important;
      }


      .profile {
       
        width: calc(100% - 2rem) !important;
        margin-bottom: 3rem;
       
      }
    }

    @media only screen and (min-width: 1024px) {
      &:first-child {
        border-top-left-radius: 10px;
        border-top: 1px solid $gray-ligth-datk;

        .item {
          border-top-left-radius: 9px;
        }
      }
      &:last-child {
        border-bottom-left-radius: 10px;
        .item {
          border-bottom-left-radius: 9px;
        }
      }

      .profile {
        left: calc(25% + 1rem);
        top: 7rem;
        position: absolute;
       
       
      }
    }

    .item {
      padding: 1rem;
      background-color: $gray-ligth;
      color: white;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      .delete{
        position: absolute;
        width: 30px;
        right: 10px;
      }

      &.new{
        background-color: rgb(59, 1, 196);
      }
    }

    .profile {
      width: calc(75% - 3rem);
      display: none;
      padding: 1rem;
      text-align: justify;
      img {
        width: 140px;
        height: 180px;
        float: left;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
      }

      h1 {
        display: block !important;
      }
      h3 {
        display: inline-block !important;
      }

      .edit{
           input, textarea
           {
             width: calc(100% - 1.75rem);
           }
      }
    }

    &.active {
      border-right: 1px solid white;

      .item {
        font-weight: bold;

        color: $gray;
        background-color: white;
      }

      .profile {
        display: block;
      }
    }
  }
}
